body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */


a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: #ffffff;
		border: 0;
		color: #000000;
		padding: 16px 20px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}



@font-face {
	font-family: customFont;
	src: url(Font/domu-regular.woff);
}   

body{
	overflow: hidden;
}

#footer{
	position: fixed;
	  left: 0;
	 bottom: 0;
	  width: 100%;
	font-family: customFont;
	text-align: center;
	font-size: 17px;
	margin-bottom: 10px;
	cursor: pointer;


	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

}

#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	/*
	pointer-events: none;*/
	user-select: none;
	
}


#instructions {
	display:block;
	width: 100%;
	height: 100%; 

	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

		
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	/*
	pointer-events: none;*/
	user-select: none;
	
	color: #ffffff;
	text-align: center;
	font-family: customFont;
	font-size: 20px;
	line-height: 24px;

	cursor: pointer;
}
